name: mirrorchyan_release_note

on:
  workflow_dispatch:
    inputs:
        tag:
            default: ''
            required: false
  release:
    types: [edited, released]

jobs:
  mirrorchyan:
    runs-on: macos-latest
    # if: ${{ github.repository_owner == 'BlameTwo' }}
    env:
      owner: BlameTwo
      repo: Haiyu
      github_token: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - id: uploading
        uses: MirrorChyan/release-note-action@v1
        with:
          version_name: ${{ inputs.tag }}

          mirrorchyan_rid: Haiyu

          owner: ${{ env.owner}}
          repo: ${{ env.repo}}
          github_token: ${{ env.github_token}}
          upload_token: ${{ secrets.MirrorChyanUploadToken }}